main {
    width: fit-content;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row-box {
    display: flex;
    justify-content: center;
}

.row-box * {
    user-select: none !important;
}

.box {
    cursor: default;
    width: 30px;
    border: 1px solid #333;
    aspect-ratio: 1/1;
    animation: 0.1s ease-out;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box.end {
    background: #ebebeb;
}
.box.open {
    background: #afafaf;
}
.box.wrong {
    background: #ffcece;
}
.box.wrong:hover {
    background: #fdc5c5 !important;
}
.box.safe {
    background: #d3ffce;
}
.box.safe:hover {
    background: #d3ffce !important;
}
.box.mark {
    background: #cedeff;
}
.box.mark:hover {
    background: #cedeff !important;
}
.box.close:hover {
    cursor: pointer;
    background: #d4d4d4;
}
.box.close:active {
    cursor: pointer;
    background: #999;
}